  @media(max-width:600px){
    .pricing-container{
      flex-direction: column;
      height: 100%;
    }
  }
body {
    font-family: 'Sono', sans-serif;
  }

  .pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 2rem;
  }

  .pricing-plan{
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
  }
  .plan-button{
    background-color:orange;
    border-radius: 10px;
    
  }
  .plan-features{
    list-style: none;
    padding: 0px;
    margin: 0;
  }
  .plan-features li {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .plan-price{
    font-size: 2.5rem;
    font-weight: bold;
  }
  .plan-title{
    font-weight: 600;
  }
  .premium{
    background-color: gold;
  }
  .standard{
    background-color: lightblue;
  }
  h1{
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 3rem;
  }
  footer{
    text-align: center;
  }

